/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* reset */

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

/* colors */
$primaire: #ff6060;
$backgroundMobile : #f6f6f6;
$gray : rgba(236, 226, 226, 0.45);

/* text */


* {
  font-family: Montserrat;  
}

body{
  background-color: rgb(70, 67, 67);
}

.main{
  background-color: $backgroundMobile;
  min-width: 335px;  
  max-width: 767px; 
  margin: auto; 
  display: flex;
  flex-direction: column;

}