@import "../../sass/setting.scss";

.description {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;

  &_h2 {
    color: $primaire;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &_h3 {
    color: black;
    font-size: 14px;
    font-weight: 500;
  }
  &_infos {
    display: flex;
    margin-top: 16px;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    &_score {
      display: inline-block;
      height: 36px;
      width: auto;
      &_container {
        margin-right: 3px;
      }
    }
  }
  &_tags {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top: 7px;
  }
  &_display {
    padding: 0 20px;
    &_collapse {
      margin: 10px 20px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
}

@media all and (min-width: 760px) {
  /* pour les ecrans superieurs a 760px de large */

  .description {
    margin-top: 30px;
    width: 60%;
    border-radius: 25px;
    &_h2 {
      font-size: 36px;
      margin: 0;
    }
    &_h3 {
      font-size: 18px;
      margin-bottom: 20px;
    }
    &_infos {
      width: 30%;
      flex-direction: column;
      padding: 0;
      margin: 0;
      justify-content: unset;
      align-items: flex-end;
      &_score {        
        &_container {
          order: 2;
        }
      }
    }
    &_tags{
      margin-top: 0;
      margin-bottom: 14px;
    }
    &_display {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 0 45px; 
      &_collapse {
        margin: 10px 45px;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 76px;
        margin-bottom: 50px;
      }
    }
  }
}
