/* imports des parametres generaux */

@import "../../sass/setting.scss";

.owner {
  display: flex;
  margin-right: 3px;
  width: 136px;
  height: 33px;
  justify-content: flex-end;
  column-gap: 5px;
 
  &_name {
    display: flex;    
    text-align: right;
    color: $primaire;
    font-size: 12px;
    font-weight: 500;    
  }
  &_picture {
    border-radius: 16px;
  }
}
@media all and (min-width:760px) {
  /* pour les ecrans superieurs a 760px de large */

  .owner {
    width: 167px;
    height: 64px;   
    column-gap: 10px;
    margin-bottom: 30px;   
    &_name {      
      font-size: 18px;   
    }
    &_picture {
      border-radius: 32px;
      width: 64px;
      height: 64px;
    }
  }
}

