@import "../../sass/setting.scss";
/* utilisation d'un fond en degradé derriere la photo,clair au dessus et noir en bas,d'une opacité sur la photo pour assombrir le bes de la photo avec le fond derriere, puis un blend mode sur le titre au dessus de la photo obsurcie en bas pour le faire ressortir  */

@mixin img-style {
  width: auto;
  height: 225px;  
  height: clamp(225px,60vw,440px);//pour faire une image responsive sur mobile
  object-fit: cover;
  aspect-ratio: 16/9;  
  position: relative;
}


.cards {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22px;
  position: relative;
  &_card {
    display: flex;
    align-items: flex-end;    
    background-color:black;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    background: linear-gradient(
      to bottom,
      #f8f4f4 0%,
      #f4f1f1 60%,
      #171515 80%,/* assombrissement du bas de l'arriere plan */
      #000000 100%
    );   
  cursor: pointer;
    overflow: hidden;    
    &_title {
      color: white;      
      font-size: clamp(18px,4.8vw,30px); //uniquement valable pour mobile,a changer pour desk
      font-weight: 700;
      line-height: 142.6%;
      padding: 15px;
      width: 70%;
      position: absolute;
      mix-blend-mode:screen; /* //pour faire ressortir le texte   */   
    }
    &_img {
      @include img-style;
      &_withTextIn{
        @include img-style;
        opacity: 0.8;/* //pour faire ressortir l'arriere plan  */  
      }     
      }
}

}