@import "../../sass/setting.scss";

.carousel {
  position: relative;
  padding: 0 24px;
  &_leftArrow {
    position: absolute;
    top: 50%;
    left: 40px;
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: solid 4px white;
    border-left: solid 4px white;
    transform: rotate(45deg);
    z-index: 10;
    cursor: pointer;
  }
  &_rightArrow {
    position: absolute;
    top: 50%;
    right: 40px;
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: solid 4px white;
    border-right: solid 4px white;
    transform: rotate(-45deg);
    cursor: pointer;
  }
  &_counter{
    display: none;
  }
  
 
  &_card_container::after {
    //ajout d'une surcouche pour transformer le pointer en fleche
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}
@media all and (min-width: 760px) {
  /* pour les ecrans superieurs a 760px de large */

  .carousel {
    padding: 0 45px;
    position: relative;
    width: auto;
    &_leftArrow {      
      left: 80px;
      width: 40px;
      height: 40px;
      border-bottom: solid 8px white;
      border-left: solid 8px white;
    }
    &_rightArrow {      
      right: 80px;      
      width: 40px;
      height: 40px;
      border-bottom: solid 8px white;
      border-right: solid 8px white;      
    } 
    &_counter{
      display: inline-block;
      position: absolute;
      color: white;
      bottom: 25px;
      right: 50%;
      transform: translateX(50%);
      font-size: 16px;
      font-weight: 500;

    }  
   
  }
}
