@import "../../sass/setting.scss";

.footer {
  &_container{
    display: flex;
    flex-direction: column;   
    align-items: center;
    } 
  background-color: black;
  height: 209px;
  display: flex;
  justify-content: center;
  align-items: center;
  &_p {
    display: block;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    &_container{
      display: flex;
      width: 51%;
    }
  }
  &_img{
    margin-bottom: 6px;
  }
}

@media all and (min-width: 760px) {
.footer{
  &_container{   
    row-gap: 29px;   
    }   
  &_p{
    font-size: 24px;
    &_container{
      width: auto;
    }    
  }
  &_img{
    width: 122px;
  }  
}
}